@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-dark-900 text-gray-100 font-sans antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-display tracking-wide;
  }
}

@layer utilities {
  .glass {
    @apply bg-dark-800 bg-opacity-70 backdrop-blur-md border border-white/5 shadow-2xl;
  }

  .card-gradient {
    @apply bg-gradient-to-br from-dark-800 to-dark-900 border border-white/5;
  }

  .gold-gradient {
    @apply bg-gradient-to-r from-secondary-400 via-secondary-200 to-secondary-500 text-dark-900;
  }

  .text-gold {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-secondary-300 to-secondary-500;
  }
}